body {
  font-family: "Lato", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

.header {
  position: fixed;
  top: 0;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  padding: 1em;
  padding-left: 10%;
  padding-right: 10%;
  border-bottom: 1px solid #ccc;
  z-index: 1000;
  background-color: white;
  box-sizing: border-box;
}

.header h1 {
  font-size: 2.5em;
  margin: 0;
}

nav {
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
}

#profile-pic {
  max-width: 150px;
  border-radius: 50%;
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 1em;
  gap: 0.5rem;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  padding: 1em;
  gap: 0.5rem;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

.project:nth-child(even) .work-desc {
  order: 2; /* Swap the order for even items */
}

.projects-header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.projects-header h1 {
  justify-self: center;
}

.project img {
  max-width: 300px;
}

.categories {
  justify-self: end;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.25em;
  margin: 1em 0;
}

.categories div {
  cursor: pointer;
}

.selected {
  text-decoration: underline;
}

.resume {
  padding-right: 10%;
  padding-left: 10%;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .work-experience {
    flex-direction: column-reverse;
  }
}
