body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header h1 {
  font-size: 2.5em;
  margin: 0;
}

nav {
  margin-bottom: 1em;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
}

#profile-pic {
  max-width: 150px;
  border-radius: 50%;
}
.projects-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 1em;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em 0;
}

.project:nth-child(even) .work-desc {
  order: 2; /* Swap the order for even items */
}

.project img {
  max-width: 300px;
}

.divider {
  font-size: 2em;
  margin: 2em 0;
  text-align: center;
  width: 100%;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .work-experience {
    flex-direction: column-reverse;
  }
}
